@font-face {
    font-family: 'aurora_bdcn_btbold';
    src: url('ufonts.com_aurora-bold-condensed-bt-webfont.woff2') format('woff2'),
         url('ufonts.com_aurora-bold-condensed-bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.mainNav {
    background-color: #232323;
}

.navbar-brand {
    font-family: 'aurora_bdcn_btbold' !important;
    color: #fff !important;
    font-size: 2.5em !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
    background-image: url('header-bg-3.jpg') !important;
    background-repeat: repeat;
    background-attachment: fixed;
}

.header .section-heading {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.intro {
    margin-top: 25px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
}

#contact .text-muted {
    color: #999 !important;
}

.intro .panel {
    opacity: 0.9;
    border: 0px;
    text-align: left;
}

.intro .panel-heading {
    background-color: #96281B;
    border: 0px;
    color: #fff;
    font-size: 1.2em;
}

.intro .panel-heading a {
   color: #fff !important;
}


.intro .panel-body {
    padding: 5%;
    background-color: #232323;
}

section h2 {
    /*font-family: 'aurora_bdcn_btbold' !important;*/
}

footer {
    color: #999;
    background-color: #232323;
}

#team {
    color: #fff;
    background-image: url('header-bg-3.jpg') !important;
    background-repeat: repeat;
    background-attachment: fixed;
}

.text-muted {
    color: rgba(255, 255, 255, .5);
    font-family: 'Roboto', sans-serif;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active {
  background-color: #4A4A4A !important;
}

#contactForm button {
    height: auto !important;
}

#contactForm button.submit-btn {
    height: auto !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999 !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999 !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #999 !important;
}
